.main {
    margin: 2rem 4rem;
}

.headerWrapper {
    border-bottom: 1px solid white;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.postsContainer {
    height: 100%;
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px lightgray solid;
    border-radius: 0.5rem;
}

.postsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr));
    justify-items: center;
    gap: 1.5rem;
}

.postCard {
    width: 30vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

}

.postText {
    overflow-wrap: break-word;
}

.button {
    align-self: flex-end;
}
